{{#> layouts/main}}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total packages received</h5>
                    <span class="h2 font-weight-bold mb-0">{{packages.number}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">packages awaiting pickup</h5>
                    <span class="h2 font-weight-bold mb-0">{{packages.notPickedUp.length}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                      <i class="ni ni-chart-pie-35"></i>
                    </div>
                  </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">lost packages</h5>
                    <span class="h2 font-weight-bold mb-0">{{packages.lost.length}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">confiscated packages</h5>
                    <span class="h2 font-weight-bold mb-0">{{packages.confiscated.length}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-8">
        <div class="card bg-default">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="h3 text-white mb-0">Number of Emails Sent</h5>
              </div>
              <!-- <div class="col">
                <ul class="nav nav-pills justify-content-end">
                  <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                    <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                      <span class="d-none d-md-block">Month</span>
                      <span class="d-md-none">M</span>
                    </a>
                  </li>
                  <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                    <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                      <span class="d-none d-md-block">Week</span>
                      <span class="d-md-none">W</span>
                    </a>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <!-- Chart wrapper -->
              <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="h3 mb-0">Total packages</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <canvas id="chart-bars" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Page visits</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive"> --}}
            <!-- Projects table -->
            {{!-- <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Page name</th>
                  <th scope="col">Visitors</th>
                  <th scope="col">Unique users</th>
                  <th scope="col">Bounce rate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    /argon/
                  </th>
                  <td>
                    4,569
                  </td>
                  <td>
                    340
                  </td>
                  <td>
                    <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/index
                  </th>
                  <td>
                    3,985
                  </td>
                  <td>
                    319
                  </td>
                  <td>
                    <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/charts
                  </th>
                  <td>
                    3,513
                  </td>
                  <td>
                    294
                  </td>
                  <td>
                    <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/tables
                  </th>
                  <td>
                    2,050
                  </td>
                  <td>
                    147
                  </td>
                  <td>
                    <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/profile
                  </th>
                  <td>
                    1,795
                  </td>
                  <td>
                    190
                  </td>
                  <td>
                    <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Social traffic</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive"> --}}
            <!-- Projects table -->
            {{!-- <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Referral</th>
                  <th scope="col">Visitors</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    Facebook
                  </th>
                  <td>
                    1,480
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">60%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Facebook
                  </th>
                  <td>
                    5,480
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">70%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Google
                  </th>
                  <td>
                    4,807
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">80%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Instagram
                  </th>
                  <td>
                    3,678
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">75%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    twitter
                  </th>
                  <td>
                    2,645
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">30%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> --}}
    <!-- Footer -->
    <footer class="footer pt-0">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
          <div class="copyright text-center  text-lg-left  text-muted">
            &copy; 2022 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Postmastr</a>
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Postmastr</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="../assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script type="text/javascript">
  //
  // Charts
  //

  'use strict';

  var Charts = (function() {

  	// Variable

  	var $toggle = $('[data-toggle="chart"]');
  	var mode = 'light';//(themeMode) ? themeMode : 'light';
  	var fonts = {
  		base: 'Open Sans'
  	}

  	// Colors
  	var colors = {
  		gray: {
  			100: '#f6f9fc',
  			200: '#e9ecef',
  			300: '#dee2e6',
  			400: '#ced4da',
  			500: '#adb5bd',
  			600: '#8898aa',
  			700: '#525f7f',
  			800: '#32325d',
  			900: '#212529'
  		},
  		theme: {
  			'default': '#172b4d',
  			'primary': '#a21b1b',
  			'secondary': '#f4f5f7',
  			'info': '#11cdef',
  			'success': '#2dce89',
  			'danger': '#f5365c',
  			'warning': '#fb6340'
  		},
  		black: '#12263F',
  		white: '#FFFFFF',
  		transparent: 'transparent',
  	};


  	// Methods

  	// Chart.js global options
  	function chartOptions() {

  		// Options
  		var options = {
  			defaults: {
  				global: {
  					responsive: true,
  					maintainAspectRatio: false,
  					defaultColor: (mode == 'dark') ? colors.gray[700] : colors.gray[600],
  					defaultFontColor: (mode == 'dark') ? colors.gray[700] : colors.gray[600],
  					defaultFontFamily: fonts.base,
  					defaultFontSize: 13,
  					layout: {
  						padding: 0
  					},
  					legend: {
  						display: false,
  						position: 'bottom',
  						labels: {
  							usePointStyle: true,
  							padding: 16
  						}
  					},
  					elements: {
  						point: {
  							radius: 0,
  							backgroundColor: colors.theme['primary']
  						},
  						line: {
  							tension: .4,
  							borderWidth: 4,
  							borderColor: colors.theme['primary'],
  							backgroundColor: colors.transparent,
  							borderCapStyle: 'rounded'
  						},
  						rectangle: {
  							backgroundColor: colors.theme['warning']
  						},
  						arc: {
  							backgroundColor: colors.theme['primary'],
  							borderColor: (mode == 'dark') ? colors.gray[800] : colors.white,
  							borderWidth: 4
  						}
  					},
  					tooltips: {
  						enabled: true,
  						mode: 'index',
  						intersect: false,
  					}
  				},
  				doughnut: {
  					cutoutPercentage: 83,
  					legendCallback: function(chart) {
  						var data = chart.data;
  						var content = '';

  						data.labels.forEach(function(label, index) {
  							var bgColor = data.datasets[0].backgroundColor[index];

  							content += '<span class="chart-legend-item">';
  							content += '<i class="chart-legend-indicator" style="background-color: ' + bgColor + '"></i>';
  							content += label;
  							content += '</span>';
  						});

  						return content;
  					}
  				}
  			}
  		}

  		// yAxes
  		Chart.scaleService.updateScaleDefaults('linear', {
  			gridLines: {
  				borderDash: [2],
  				borderDashOffset: [2],
  				color: (mode == 'dark') ? colors.gray[900] : colors.gray[300],
  				drawBorder: false,
  				drawTicks: false,
  				drawOnChartArea: true,
  				zeroLineWidth: 0,
  				zeroLineColor: 'rgba(0,0,0,0)',
  				zeroLineBorderDash: [2],
  				zeroLineBorderDashOffset: [2]
  			},
  			ticks: {
  				beginAtZero: true,
  				padding: 10,
  				callback: function(value) {
  					if (!(value % 10)) {
  						return value
  					}
  				}
  			}
  		});

  		// xAxes
  		Chart.scaleService.updateScaleDefaults('category', {
  			gridLines: {
  				drawBorder: false,
  				drawOnChartArea: false,
  				drawTicks: false
  			},
  			ticks: {
  				padding: 20
  			},
  			maxBarThickness: 10
  		});

  		return options;

  	}

  	// Parse global options
  	function parseOptions(parent, options) {
  		for (var item in options) {
  			if (typeof options[item] !== 'object') {
  				parent[item] = options[item];
  			} else {
  				parseOptions(parent[item], options[item]);
  			}
  		}
  	}

  	// Push options
  	function pushOptions(parent, options) {
  		for (var item in options) {
  			if (Array.isArray(options[item])) {
  				options[item].forEach(function(data) {
  					parent[item].push(data);
  				});
  			} else {
  				pushOptions(parent[item], options[item]);
  			}
  		}
  	}

  	// Pop options
  	function popOptions(parent, options) {
  		for (var item in options) {
  			if (Array.isArray(options[item])) {
  				options[item].forEach(function(data) {
  					parent[item].pop();
  				});
  			} else {
  				popOptions(parent[item], options[item]);
  			}
  		}
  	}

  	// Toggle options
  	function toggleOptions(elem) {
  		var options = elem.data('add');
  		var $target = $(elem.data('target'));
  		var $chart = $target.data('chart');

  		if (elem.is(':checked')) {

  			// Add options
  			pushOptions($chart, options);

  			// Update chart
  			$chart.update();
  		} else {

  			// Remove options
  			popOptions($chart, options);

  			// Update chart
  			$chart.update();
  		}
  	}

  	// Update options
  	function updateOptions(elem) {
  		var options = elem.data('update');
  		var $target = $(elem.data('target'));
  		var $chart = $target.data('chart');

  		// Parse options
  		parseOptions($chart, options);

  		// Toggle ticks
  		toggleTicks(elem, $chart);

  		// Update chart
  		$chart.update();
  	}

  	// Toggle ticks
  	function toggleTicks(elem, $chart) {

  		if (elem.data('prefix') !== undefined || elem.data('prefix') !== undefined) {
  			var prefix = elem.data('prefix') ? elem.data('prefix') : '';
  			var suffix = elem.data('suffix') ? elem.data('suffix') : '';

  			// Update ticks
  			$chart.options.scales.yAxes[0].ticks.callback = function(value) {
  				if (!(value % 10)) {
  					return prefix + value + suffix;
  				}
  			}

  			// Update tooltips
  			$chart.options.tooltips.callbacks.label = function(item, data) {
  				var label = data.datasets[item.datasetIndex].label || '';
  				var yLabel = item.yLabel;
  				var content = '';

  				if (data.datasets.length > 1) {
  					content += label;
  				}

  				content += prefix + yLabel + suffix;
  				return content;
  			}

  		}
  	}


  	// Events

  	// Parse global options
  	if (window.Chart) {
  		parseOptions(Chart, chartOptions());
  	}

  	// Toggle options
  	$toggle.on({
  		'change': function() {
  			var $this = $(this);

  			if ($this.is('[data-add]')) {
  				toggleOptions($this);
  			}
  		},
  		'click': function() {
  			var $this = $(this);

  			if ($this.is('[data-update]')) {
  				updateOptions($this);
  			}
  		}
  	});


  	// Return

  	return {
  		colors: colors,
  		fonts: fonts,
  		mode: mode
  	};

  })();

  var BarsChart = (function() {

    //
    // Variables
    //

    var $chart = $('#chart-bars');


    //
    // Methods
    //

    // Init chart
    function initChart($chart) {

      // Create chart
      var ordersChart = new Chart($chart, {
        type: 'bar',
        data: {
          labels: {{{packages.total.headers}}},
          datasets: [{
            label: 'Packages',
            data: {{{packages.total.data}}}
          }]
        }
      });

      // Save to jQuery object
      $chart.data('chart', ordersChart);
    }


    // Init chart
    if ($chart.length) {
      initChart($chart);
    }

  })();

  'use strict';

  //
  // Sales chart
  //

  var SalesChart = (function() {

    // Variables

    var $chart = $('#chart-sales-dark');


    // Methods

    function init($chart) {

      var salesChart = new Chart($chart, {
        type: 'line',
        options: {
          scales: {
            yAxes: [{
              gridLines: {
                lineWidth: 1,
                color: Charts.colors.gray[900],
                zeroLineColor: Charts.colors.gray[900]
              },
              ticks: {
                callback: function(value) {
                  if (!(value % 10)) {
                    return `${value} sent`;
                  }
                }
              }
            }]
          },
        },

        data: {
          labels: {{{packages.emailsSent.headers}}},
          datasets: [{
            label: 'Emails Sent',
            data: {{{packages.emailsSent.data}}}
          }]
        }
      });

      // Save to jQuery object

      $chart.data('chart', salesChart);

    };


    // Events

    if ($chart.length) {
      init($chart);
    }

  })();
  </script>
{{/layouts/main}}
